$fa-font-path: "~font-awesome/fonts"
@import '~font-awesome/scss/font-awesome'
@import '~bulma'

.hero.is-dark .content
        color: $light

.hero.is-dark .info-box
        color: $dark

.mr-05
        margin-right: 0.5em

.image.is-256x256
    height: 256px;
    width: 256px;
